<div class="home">
<h1 class="text">Bienvenue sur</h1>
<div>
  <%= image_tag "logo.png", class: "logo-hp" %>
</div>
</div>
<div class="descr">
  <img class="boule" src="https://images.emojiterra.com/google/noto-emoji/animated-emoji/1faa9.gif" alt="boule a facette">
  <p>L'application qui simplifie la vie des soirées entre amis !</p>
  <img class="boule" src="https://images.emojiterra.com/google/noto-emoji/animated-emoji/1faa9.gif" alt="boule a facette">
</div>
