<div class="container-index">
  <div class="link container-new-header">
    <%= link_to event_path(@event) do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>

  <div class="container-album link">
    <h1 class="text-center">Album de <%= @album.event.name %></h1>
    <%= link_to "Ajouter des médias", edit_event_album_path(@album.event, @album), class: "btn-invitation" %>
  </div>

  <% if @album.media.attached? %>
    <div class="image-grid-container">
      <ul class="image-grid">
        <% @album.media.each do |media| %>
          <li class="image-item">
            <%= image_tag media %>
          </li>
        <% end %>
      </ul>
    </div>
    <% else %>
        <p>Aucun médias dans cet album</p>
    <% end %>
    
</div>