<%= simple_form_for [@event, Item.new], remote: true, html: { id: "new_item_form", class: "d-flex" } do |form| %>
  <div class="form-group">
    <%= form.input :content, label: false, placeholder: "Tu amènes quoi le sang ?", wrapper_html: { class: "flex-grow-1" } %>
  </div>
  <%= form.submit "Ajouter l'item", class: "btn btn-primary" %>
<% end %>