.image-grid-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  padding: 20px;
}

/* The unordered list behaves like a grid */
.image-grid {
  display: contents;
  height: 150px;
  width: 200px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual items in the grid */
.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

/* Images inside the grid */
.image-item img {
  width: 200px
  max-height: 150px;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect for images */
.image-item:hover img {
  transform: scale(1.05);
  opacity: 0.9;
}

.container-album-header {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.container-album-show {
  min-height: 53vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background: linear-gradient(217deg, rgb(255, 153, 0), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgb(255, 0, 149), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0, 183, 255, 0.8), rgba(0,0,255,0) 70.71%);
}
