// Wrapper principal pour la page de création d'événement
.form-new-event {
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
  align-items: center;
}


.organization-header {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.event_description {
  display: block !important;
  padding-top: 0 !important;
}

// Conteneur principal avec deux colonnes équilibrées
.event-new-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 2em; // Ajoute un espace entre les deux colonnes

}

.left-side-event,
.right-side-event {
  background: linear-gradient(
    217deg,
    rgba(255, 153, 0, 0.14),
    rgba(255, 0, 0, 0) 70.71%
  ),
  linear-gradient(
    127deg,
    rgba(255, 0, 149, 0.12),
    rgba(0, 255, 0, 0) 70.71%
  ),
  linear-gradient(
    336deg,
    rgba(0, 183, 255, 0.45),
    rgba(0, 0, 255, 0) 70.71%
  );

  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px 10px #0c01018a;
  padding: 3em;
}

// Informations de base (formulaire)
.basic-event-infos {
  display: flex;
  flex-direction: column;
  text-align: center;

  .form-group {
    margin-bottom: 1.5em;

    input,
    textarea {
      width: 100%;
      padding: 0.8em;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;

      &:focus {
        border-color:  rgb(204, 30, 123);
        box-shadow: 0 0 5px rgba(99, 99, 153, 0.3);
        outline: none;
      }
    }

    label {
      font-weight: bold;
      color: black;
      font-size: 12px !important;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}

// Styles pour les choix "Jackpot" et "Items"
.category-wrapper {
  display: flex;
  justify-content: space-between;

  .category-item {
    flex: 0 0 48%;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

// Style pour les états sélectionnés
.category-selector:checked + label {
  color: white !important;
}

#event_ask_for_participation_je_crée_une_cagnotte + label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_je_crée_une_cagnotte:checked + label {
  background-color: rgb(204, 30, 123);
  border-color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_mes_invités_apporte_quelque_chose + label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_mes_invités_apporte_quelque_chose:checked + label {
  background-color: rgb(204, 30, 123);
  border-color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}
.form-check-input.is-valid ~ .form-check-label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}


.fa-circle-arrow-left {
  text-decoration: none;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: left;
  padding-top: 20px;
  padding-left: 28px;
}

#form-group-item,
.category-wrapper-item {
  display: none;
  background-color: grey;
  min-width: 100%;
}

.basic-event-infos .form-group input, .basic-event-infos .form-group textarea {
  background-color: #0000001a;
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-weight: lighter;
}
.organization-header {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 37px;
  font-weight: bold;
}
.text-center {
  padding-bottom: 30px;
  font-size: 26px;
  text-align: center !important;
  font-weight: bold;
}
.titre-choix {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.flatpickr-day.today {
  border-color: rgb(204, 30, 123);
}

.flatpickr-day.selected {
  background: rgb(204, 30, 123);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: rgb(204, 30, 123);
}

.date-header{
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.cdate {
  box-shadow: 0 4px 10px 10px #0c01018a;
  border-radius: 10px;
}

.container-new-header{
  display: flex;
  justify-content: left;
}

.container-global {
  background: linear-gradient(217deg, rgb(255, 153, 0), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgb(255, 0, 149), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0, 183, 255, 0.8), rgba(0,0,255,0) 70.71%);
}

.flatpickr-calendar {
  background: linear-gradient(
    217deg,
    rgba(255, 153, 0, 0.5),
    rgba(255, 0, 0, 0) 70.71%
  ),
  linear-gradient(
    127deg,
    rgba(255, 0, 149, 0.5),
    rgba(0, 255, 0, 0) 70.71%
  ),
  linear-gradient(
    336deg,
    rgba(0, 183, 255, 0.5),
    rgba(0, 0, 255, 0) 70.71%
  );
  border-radius: 8px; /* Coins arrondis pour le style */
  padding: 10px; /* Pour éviter que les éléments internes touchent les bords */
}

.flatpickr-days {
  background: transparent; /* Permet au fond multicolore d'être visible */
  box-shadow: none; /* Supprime toute ombre gênante */
}

.flatpickr-month {
  background: transparent; /* Supprime le fond blanc */
}

.flatpickr-day {
  background: rgba(255, 255, 255, 0.2); /* Optionnel : Fond léger pour les jours */
  color: #fff; /* Contraste avec un fond multicolore */
  border-radius: 4px; /* Coins arrondis pour les jours */
}

.flatpickr-day:hover {
  background: rgba(255, 255, 255, 0.5); /* Couleur au survol */
  color: black; /* Contraste amélioré */
}
.flatpickr-innerContainer,
.flatpickr-months,
.flatpickr-days {
  background: transparent;
  box-shadow: none;
}
