// Wrapper principal pour la page de création d'événement
.form-new-event {
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
  align-items: center;
}

// En-têtes et marges
.date-header {
  font-size: 20px;
}

.organization-header {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.event_description {
  display: block !important;
  padding-top: 0 !important;
}

// Conteneur principal avec deux colonnes équilibrées
.event-new-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 2em; // Ajoute un espace entre les deux colonnes
}

.left-side-event,
.right-side-event {
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px 10px #cc1e842b;
  padding: 3em;
}

// Informations de base (formulaire)
.basic-event-infos {
  display: flex;
  flex-direction: column;
  text-align: center;

  .form-group {
    margin-bottom: 1.5em;

    input,
    textarea {
      width: 100%;
      padding: 0.8em;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;

      &:focus {
        border-color:  rgb(204, 30, 123);
        box-shadow: 0 0 5px rgba(99, 99, 153, 0.3);
        outline: none;
      }
    }

    label {
      font-weight: bold;
      color: black;
      font-size: 12px !important;
      margin-bottom: 0.5em;
      display: block;
    }
  }
}

// Styles pour les choix "Jackpot" et "Items"
.category-wrapper {
  display: flex;
  justify-content: space-between;

  .category-item {
    flex: 0 0 48%;
  }
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

// Style pour les états sélectionnés
.category-selector:checked + label {
  color: white !important;
}

#event_ask_for_participation_je_crée_une_cagnotte + label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_je_crée_une_cagnotte:checked + label {
  background-color: rgb(204, 30, 123);
  border-color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_mes_invités_apporte_quelque_chose + label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}

#event_ask_for_participation_mes_invités_apporte_quelque_chose:checked + label {
  background-color: rgb(204, 30, 123);
  border-color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}
.form-check-input.is-valid ~ .form-check-label {
  color: rgb(204, 30, 123);
  font-size: 12px;
  font-weight: bold;
}


.fa-circle-arrow-left {
  text-decoration: none;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: left;
  padding-top: 20px;
  padding-left: 28px;
}

#form-group-item,
.category-wrapper-item {
  display: none;
  background-color: grey;
  min-width: 100%;
}

.basic-event-infos .form-group input, .basic-event-infos .form-group textarea {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-weight: lighter;
}
.organization-header {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 37px;
  font-weight: bold;
}
.text-center {
  font-size: 26px;
  text-align: center !important;
  font-weight: bold;
}
.titre-choix {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.flatpickr-day.today {
  border-color: rgb(204, 30, 123);
}

.flatpickr-day.selected {
  background: rgb(204, 30, 123);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: rgb(204, 30, 123);
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.date-header{
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.cdate {
  box-shadow: 0 4px 10px 10px #cc1e842b;
  border-radius: 5px;
}
